<div class="container">
	<div class="row">
		<div class="col-md-4 hidden-phone"></div>
		<div class="col-md-4" style="text-align:center;background-color:#fff;">
      <h2>Change Password</h2>

      <%= form_for(user, html: { method: :put }) do |f| %>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>

			<%= link_to 'Show', user %>
		</div>
	</div>
</div>
