<div class="col-md-3 hidden-phone"></div>
<div class="col-md-6" style="background-color:#fff;">
  <h3>링크 리스트</h3>

  <div class="white-box">
    <p>Etc 를 클릭하면 볼 수 있는 링크를 추가, 변경 및 삭제할 수 있는 곳입니다.</p>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Link to</th>
        <th></th>
      </tr>

    <% @links.each do |link| %>
      <tr>
        <td><%= link.name %></td>
        <td><%= link.link_to %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %> | <%= link_to 'Destroy', link_path(link), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
    <div class="pull-right">
    <%= link_to 'New Link', new_link_path %>
    </div>
  <br />
  </div>
</div>
